@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  	margin: 0;
	overflow-x: hidden;
}
.notification-div{
	box-shadow: 0 5px 5px -2px rgb(61, 61, 61, 0.8);
	transform: translateX(calc(1.25rem + 100%));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.popup-active {
	transform: translateX(0%);
	opacity: 100%;
}